<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title th:text="${edital.id != null ? 'Editar Edital' : 'Novo Edital'}">Novo Edital</title>
</head>
<body>
<section>
    <h2 th:text="${edital.id != null ? 'Editar Edital' : 'Novo Edital'}" class="mt-5"></h2>
    <form th:action="@{${edital.id != null ? '/editais/' + edital.id + '/editar' : '/editais'}}" method="post">
        <div class="mb-3">
            <label for="titulo" class="form-label">Título do Edital:</label>
            <input type="text" class="form-control" id="titulo" name="titulo" required>
        </div>
        <div class="mb-3">
            <label for="data" class="form-label">Data:</label>
            <input type="date" class="form-control" id="data" name="data" required>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="calendario" class="form-label">Calendário:</label>
            <input type="text" class="form-control" id="calendario" name="calendario" required>
        </div>
        <div class="mb-3">
            <label for="pre-requisitos" class="form-label">Pré-requisitos:</label>
            <input type="text" class="form-control" id="pre-requisitos" name="pre-requisitos" required>
        </div>
        <div class="mb-3">
            <label for="formulario" class="form-label">Formulário de Inscrição:</label>
            <input type="text" class="form-control" id="formulario" name="formulario" required>
        </div>
        <div class="mb-3">
            <label for="coordenador" class="form-label">Coordenador</label>
            <select class="form-select" id="coordenador" name="coordenador" required>
                <option value="">Selecione um coordenador</option>
                <th:block th:each="professor : ${professores}">
                    <option th:value="${professor.id}" th:text="${professor.nome}"></option>
                </th:block>
            </select>
        </div>
        <button th:text="${edital.id != null ? 'Salvar Alterações' : 'Criar Edital'}" type="submit" class="btn btn-primary"></button>
        <a href="/editais" class="btn btn-secondary">Cancelar</a>
    </form>
</section>
</body>
</html>